body{
    color: white;
    background: black;
    magrin: 0px;

    heard {
        bonder-botton: solid 2px rgb(42, 122, 228);
        padding: 20px;
        font-size: 32px;
        color: rgb(42, 122, 228);
    }
    section {
        background: rgb(184,156,213);
        padding-bottom: 80px;
        padding-top: center;
        justify-content: center;
    }
}
.chamada-texto{
    margin-right: 5%;

}